*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
}

i{
    font-size: 20px;
}

.contenedor{
    width: 100%;
    margin: auto;
}

.nav-main{
    display: flex;
    height: 15vh;
    align-items: center;
    padding: 20px 0;
    margin-bottom: 20px;
    border: solid black;
}

.logo{
    width: 75px;
}

.nav-main ul.navigation-menu{
    display: flex;
    align-items: center;
    justify-content: right;
    flex: 1;
    margin-right: 20px ;
}

.nav-main ul li{
    float: left;
    position: relative;
    text-transform: capitalize;
}

.nav-main ul li a{
    font-size: 18px;
    padding: 20px;
    display: block;
    transition: all .2s ease;
}

.nav-main ul li i{
    text-align: center;
    margin-right: 5px;
}

.nav-main ul li:hover{
    border-bottom: 2px solid rgb(0, 0, 0);
}

.nav-main .menu-btn{
    border: none;
    background: none;
    color: #e5e1e1;
    margin: 20px;
    display: none;
    cursor: pointer;
}

.creditos{
    width: 100%;
    text-align: center;
    padding: 15px;
    border: solid;
    border-color: black;
}
