.main{
    width: 100%;
}

.contenido{
    display: flex;
    border: solid;
    border-color: black;
    align-items: center;
}

.nav-admin{
    text-align: center;
    text-transform: capitalize;
}

.nav-admin ul li{
    padding: 20px;
    border: solid 1px black;
}

.datos-menu{
}