.main{
    width: 100%;
    margin-bottom: 20px;
}  

.contenido{
    display: flex;
    border: solid;
    border-color: black;
    align-items: center;
}

.nav-admin{
    text-align: center;
    text-transform: capitalize;
}

.nav-admin-menu{
    width: min-content;
}

.nav-admin-menu li{
    padding: 20px;
    border: solid 1px black;
}

.nav-admin-menu li:hover{
    cursor: pointer;
    background-color: #ccc;
}

[data-content]{
    display: none;
}

.active[data-content]{
    display: block;
}